#hero {
    height: 100vh;
    background: url('F:\moonshad\portfolio\src\images\Moonshad.jpeg.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero h1 {
    font-size: 4rem;
    font-weight: 600;
    color: #ff6600;
}

#hero p {
    font-size: 1.5rem;
    margin-top: 10px;
    color: #ff6600;
}

#hero .btn-main {
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #ff6600;
    color: white;
    text-transform: uppercase;
    border-radius: 50px;
    font-weight: 600;
    transition: background 0.3s ease;
}

#hero .btn-main:hover {
    background-color: #ff4500;
}
